@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
}  

:root {
    --color1: #2D7DD2;
    --color2: #97CC04;
    --color3: #EEB902;
    --color4: #F45D01;
    --color5: #474647;
    --color6: lightgrey;
    --titlefont: 'Bebas Neue', cursive;
    --textfont: 'Source Sans Pro', sans-serif;
  }

.headercontainer {
    padding: 6px;
    text-align: center;
    background-color: var(--color1);
    color: var(--color2);
}

.navcontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.navbar {
    text-decoration: none;
    padding: 5px;
    color: var(--color2);;
    &:hover {
    color: var(--color3);; 
    }  
}

.mainheader {
    margin: 2rem 0 3rem 0;
}

.background {
    background-color: var(--color6);
}

.square {

        border: 5px solid var(--color5);
        width: 19rem;
        height: 19rem;
        margin: 6rem auto;
        background-color: var(--color3);
        transition: background-color 2s ease-out;


    &:before {
        content: "";
        width: 18rem;
        height: 18rem;
        position: absolute;
        border: 5px solid var(--color5);
        transform: rotate(45deg);
        background-color: var(--color2);
        transition: background-color 3s ease-out;
    }

    &:after {
        
        content: "";
        background-image: url(https://i.imgur.com/pqrRX2A.png);
        border: 5px solid var(--color5);
        background-size: 18rem;
        width: 18rem;
        height: 18rem;
        position: absolute;
        border: 5px solid var(--color5);
        border-radius: 50%;
    }
}